:root {
    --primary-color: #EE4D2D ;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

*{
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* responsive*/

/*nhung thẻ nằm trong class này sẽ nằm trên cùng 1 hàng ngang */

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/*animation hiện dần */
@keyframes fadeIN{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform : scale(var(--growth-from)); /*tạo độ lớn lên- hiệu ứng khi hiện list thông báo*/
}
    to{
        transform: scale(var(--growth-to));
    }
}
/* Css modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4 );
}
.modal__body{
    --growth-from: 0.7s;
    --growth-to: 1s;
    margin: auto;
    position: relative;
    z-index: 1; /* đặt thứ tự ưu tiên cho thằng nào muốn xuất hiện trươc*/
    animation: growth linear 0.1s;
}
/* button stlye */
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.auth-form__controls-back:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);

}
/* xét size cho fb và gg */
.btn--size-s{ 
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}
/* xét màu cho icon gg */
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
.btn.btn--disabled{
    color: #949494;
    cursor: default;    
    background-color: #c3c3c3;
}

/* selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    border-radius: 2px;
    padding: 0 12px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    list-style: none;
    padding: 8px 16px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}
.select-input__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.select-input:hover .select-input__list{
    display: block;
}

/* pagination phần duối cùng của body */
.pagination{
    display: flex;
    justify-content: center;
    list-style: none;
}
.pagination-item{
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;
}
.pagination-item__link{
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}
